<nav class="navbar navbar-expand-sm bg-white fixed-top">
  <div class="container-md">
    <a class="navbar-brand fw-bold" href="#">S&nbsp;I&nbsp;A</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link disabled" routerLinkActive="active-link active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link active" routerLink="/lineas">Líneas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLinkActive="active-link active">Mercados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLinkActive="active-link active">Legal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLinkActive="active-link active">Cobranza</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2 bg-body-tertiary" type="search" placeholder="Search">
        <i class="fa fa-gear fa-icon my-auto mx-3"></i>
        <img src="../../../assets/images/christopher.jpg" alt="imagen perfil" class="rounded-circle img-perfil object-fit-cover">
      </form>
    </div>
  </div>
</nav>
