/* You can add global styles to this file, and also import other style files */
.color-blue {
  color: #2462D2 !important;
  font-weight: 300 !important;
}

.color-black {
  color: black !important;
  font-weight: 300 !important;
}
