<footer class="bg-footer fixed-bottom">
  <div class="container-md p-3">
    <div class="row">

      <!-- Logo -->
      <div class="col-sm-auto m-auto pb-2">
        <img src="assets/icons/logo-aarco.svg" alt="logo aarco" class="">
      </div>

      <!-- Avisos -->
      <div class="col-sm-auto m-auto pb-2">
        <span>Aviso de Privacidad Agente</span>
        <br/>
        <span>Aviso de Privacidad AARCO</span>
      </div>

      <!-- Redes -->
      <div class="col-sm">
        <img class="m-2" src="assets/icons/facebook.svg" alt="logo facebook">
        <img class="m-2" src="assets/icons/twitter.svg" alt="logo twitter">
        <img class="m-2" src="assets/icons/instagram.svg" alt="logo instagram">
        <img class="m-2" src="assets/icons/linkedin.svg" alt="logo linkedin">
        <img class="m-2" src="assets/icons/google.svg" alt="logo google">
        <img class="m-2" src="assets/icons/youtube.svg" alt="logo youtube">
      </div>

      <!-- Direction -->
      <div class="col-sm-auto m-auto">
        <span>Mayorazgo No. 37, Col. Xoco, Benito Juárez, C.P. 03330,  México, D.F.</span>
        <br/>
        <span>aarcomunicacion@aarco.com.mx</span>
      </div>
    </div>
  </div>
</footer>
